<!DOCTYPE html>

<html>
  <head>
    <title>URL Shortener Microservice | freeCodeCamp.org</title>
    <link
      rel="icon"
      type="image/png"
      href="https://cdn.freecodecamp.org/universal/favicons/favicon-16x16.png"
    />
    <link href="/public/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <h1>URL Shortener Microservice</h1>
    <main>
      <p>This is a microservice API that creates shortened urls that redirect to the user specified url with a call to /api/shorturl/[short url here], made as my submission for the URL Shortener Microservice project in <a href="https://www.freecodecamp.org/">freeCodeCamp's</a> Back End Development and APIs Course.</p>
      <section>
        <form action="/api/shorturl" method="POST">
          <fieldset>
            <legend>URL Shortener</legend>
            <label for="url_input">URL:</label>
            <input id="url_input" type="text" name="url" placeholder="https://www.freecodecamp.org/" />
            <input type="submit" value="POST URL" />
          </fieldset>
        </form>
      </section>
    </main>
    <footer>
      <p>By <a href="https://github.com/aberg07">aberg07</a></p>
    </footer>
  </body>
</html>
